body{
    background-color: rgb(230, 230, 230);
} 

h1 {
    position: relative;
    background-color: bisque;
    color: rgb(135, 139, 203);
    padding: 30px;
    font-size: 30px;
    text-align: center;
    top: 0;
   

}
.first-heading{
    position: sticky;
    left: 0;
    width: 100%;
  }
.protest-riot-regular {
    font-family: "Protest Riot", serif;
    font-weight: 400;
    font-style: normal;
  } 
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    color: rgb(46,176,186);
}
p{
    color: rgb(46,176,186);
    font-weight: bold;
    font-size: 30px; 
}

a:visited{
    color: rgb(46, 176, 186);
}
a:hover{
    font-size: 40px;
    background-color: bisque;
}
footer{
    text-align: right;
    color: bisque;
    background-color: rgb(135, 139, 203);
    padding: 10px;
    display: flex;
    justify-content: center;
}

img{
    border-color: rgb(135, 139, 203);
    border-style: dotted;
    border-width: 10px;
}
.heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(230, 230, 230);
    background-color: rgb(46, 176, 186);
    padding: 2%;
}
#intro{
    background-color: bisque;
    color: rgb(135, 139, 203);
}
#secondary{
    background-color: rgb(46, 176, 186);
    color: rgb(230, 230, 230);
}
.fa-person-dress, .fa-splotch{
    color: rgb(190, 165, 68);
    margin-right: 8px;
}
.nav-items{
    display: flex;
    justify-content:center; 
}
.first-item{
    margin-right: 20px;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

a{
    transition-property: font-size;
    transition-duration: 4s;
    transition-timing-function: ease-out;
    transition-delay: 2s;
  }
h2:hover{
    border: 8px solid red;
}
h2{
    transition: border 3s ease-in-out;
}
ul{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: red;
}
ul li:nth-child(even){
    text-decoration: underline green 4px;
    
}